<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <meta name="format-detection" content="telephone=no">
  <title></title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
</head>

<body ng-app="starter" class="body_css">

  <ion-nav-view></ion-nav-view>

  <!-- The nav bar that will be updated as we navigate -->
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-clear">
      <i class="ion-arrow-left-c"></i> Back
    </ion-nav-back-button>
  </ion-nav-bar>

  <script id="list.html" type="text/ng-template">
    <ion-view view-title="Times Table">
      <div class="bar bar-subheader padding">
        <h2 class="title">Select a times table</h2>
      </div>
      <ion-content class="has-subheader padding body_css">
        <a href="#/view" style="text-decoration: none;" class="button button-block button-dark" ng-click="timestable(2)">
        2 times <span class="badge badge-positive">{{tt2}}</span></a>
        <a href="#/view" style="text-decoration: none;" class="button button-block button-dark" ng-click="timestable(3)">
        3 times <span class="badge badge-positive">{{tt3}}</span></a>
        <a href="#/view" style="text-decoration: none;" class="button button-block button-dark" ng-click="timestable(4)">
        4 times <span class="badge badge-positive">{{tt4}}</span></a>
        <a href="#/view" style="text-decoration: none;" class="button button-block button-dark" ng-click="timestable(5)">
        5 times <span class="badge badge-positive">{{tt5}}</span></a>
        <a href="#/view" style="text-decoration: none;" class="button button-block button-dark" ng-click="timestable(6)">
        6 times <span class="badge badge-positive">{{tt6}}</span></a>
        <a href="#/view" style="text-decoration: none;" class="button button-block button-dark" ng-click="timestable(7)">
        7 times <span class="badge badge-positive">{{tt7}}</span></a>
        <a href="#/view" style="text-decoration: none;" class="button button-block button-dark" ng-click="timestable(8)">
        8 times <span class="badge badge-positive">{{tt8}}</span></a>
        <a href="#/view" style="text-decoration: none;" class="button button-block button-dark" ng-click="timestable(9)">
        9 times <span class="badge badge-positive">{{tt9}}</span></a>
        <a href="#/view" style="text-decoration: none;" class="button button-block button-dark" ng-click="timestable(10)">
        10 times <span class="badge badge-positive">{{tt10}}</span></a>
        <a href="#/view" style="text-decoration: none;" class="button button-block button-dark" ng-click="timestable(11)">
        11 times <span class="badge badge-positive">{{tt11}}</span></a>
        <a href="#/view" style="text-decoration: none;" class="button button-block button-dark" ng-click="timestable(12)">
        12 times <span class="badge badge-positive">{{tt12}}</span></a>
      </ion-content>
    </ion-view>
  </script>

  <script id="view.html" type="text/ng-template">
    <ion-view view-title="{{whichTimes}} Times Table">
      <ion-content class="padding body_css">
        <div id="a1" class="balloon1 {{ balloonClass1 }}" ng-hide="riseUp" ng-click="give_answer(a1)">{{a1}}</div>
        <div class="balloon2 {{ balloonClass2 }}" ng-hide="riseUp" ng-click="give_answer(a2)">{{a2}}</div>
        <div class="balloon3 {{ balloonClass3 }}" ng-hide="riseUp" ng-click="give_answer(a3)">{{a3}}</div>
        <div class="row">
          <div class="col">
            <span class="badge badge-assertive">{{score}}</span>
          </div>
        </div>
        <div class="card">
          <h1 class="question">{{times}}</h1>
        </div>
      </ion-content>
    </ion-view>
    <div class="tabs tabs-icon-top">
      <a class="tab-item" href="#/list">
        <i class="icon ion-home"></i> Home
      </a>
    </div>
  </script>

</body>

</html>
