.body_css {
  background: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
}
.body_css a{
}
.badge {
  float: right;
  margin: 5px;
  margin-top:12px;
}
.answers {
}
.question{
  text-align:center;
  vertical-align: middle;
  padding:1em;
}
.balloon1, .balloon2, .balloon3 {
  position:absolute;
  /*top:1000px;*/
  width:100px;
  height:124px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-align:center;
  padding-top:50px;
  font-size:2em;
  font-weight:bold;
  font-family: verdana, sans-serif;
}
@keyframes riseNow1 {
  from {
      top: 1000px;
  } to {
      top: 0px;
  }
}
@keyframes riseNow2 {
  from {
      top: 900px;
  } to {
      top: 0px;
  }
}
@keyframes riseNow3 {
  from {
      top: 800px;
  } to {
      top: 0px;
  }
}

.balloon1 {background: url(../img/ballon1.png);left:0px;background-repeat: no-repeat}
.balloon2 {background: url(../img/ballon2.png);left:35%;background-repeat: no-repeat}
.balloon3 {background: url(../img/ballon3.png);left:70%;background-repeat: no-repeat}

.ng-balloonUp1{top:900px;animation: 4.5s riseNow1; -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;}
.ng-balloonUp2 {animation: 5.5s riseNow2;  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;}
.ng-balloonUp3 {animation: 6.5s riseNow3;  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;}
.reset-balloon{top:1000px;}
